{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			{{ with $logoImage -}}
				<div class="logo__item logo__imagebox">
					<img class="logo__img" src="{{ . | relURL }}">
				</div>
			{{- end -}}
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
					<h4 style="color: #221188;">35<sup>th</sup> Annual Symposium on Combinatorial Pattern Matching
					<br>Fukuoka, Japan, June 25–27, 2024</h4>
				</div>
				<img src="/img/header.png">
			{{- end }}
		</a>
	</div>
{{- end }}
