<!-- {{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- if $recent }}
<div class="widget-recent widget">
	<h4 class="widget__title">{{ T "recent_title" }}</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range first $recent_num $recent }}
			<li class="widget__item"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }} -->

{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- if $recent }}
<div class="widget-recent widget" style="width:70%">
	<h4 style="color: #221188; margin: 0px;"> Conference </h4>
	<a style="color: #221188;" href="/"> Home </a><br>
	<a style="color: #221188;" href="/p/keynote_speakers"> Keynote Speakers </a><br>
	<a style="color: #221188;" href="/p/highlights"> Highlights of CPM </a><br>
	<a style="color: #221188;" href="/p/programme"> Programme </a><br>
	<a style="color: #221188;" href="/p/committees"> Committees </a><br>
	<a style="color: #221188;" href="/p/call_for_papers"> Call for papers </a><br>
	<a style="color: #221188;" href="/p/registration"> Registration </a><br>
	<a style="color: #221188;" href="/p/excursion"> Social Events </a><br>
	<a style="color: #221188;" href="/p/awards"> Awards </a><br>
	<hr><h4 style="color: #221188; margin: 0px;"> Papers and proceedings </h4>
	<a style="color: #221188;" href="/p/accepted_papers"> Accepted Papers </a><br>
	<a style="color: #221188;" href="/p/proceedings"> Proceedings </a>
	<hr><h4 style="color: #221188; margin: 0px;"> Local information </h4>
	<a style="color: #221188;" href="/p/venue"> Venue </a>
	<hr><h4 style="color: #221188; margin: 0px;"> Travel </h4>
	<a style="color: #221188;" href="/p/arrival"> Arrival and Accommodation </a><br>
	<a style="color: #221188;" href="/p/practicalities"> Practicalities </a>
	<hr><h4 style="color: #221188; margin: 0px;"> Other </h4>
	<a style="color: #221188;" href="/p/stringmasters"> StringMasters </a><br>
	<a style="color: #221188;" href="/p/summer_school"> Summer school </a><br>
	<a style="color: #221188;" href="https://cpm.cs.helsinki.fi"> CPM Archive </a><br>
	<a style="color: #221188;" href="/CoC.pdf"> Code of Conduct </a> <br>
	<a style="color: #221188;" href="/p/credits"> Credits</a>
	
	<hr><h4 style="color: #221188; margin: 0px;"> Poster </h4>
		 <a href="/poster.pdf"><img style="max-width: 70%; width:70%; min-width: 70%" src="https://cpm2025.pangenome.eu/poster.jpg"></a>
</div>
{{- end }}